parameters:
    level: 9
    paths:
        - src
        - tests
    tmpDir: ./.phpstan.cache/
includes:
    - phpstan-baseline.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
