parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\" between int\\<1, max\\> and \\-1 is always true\\.$#"
			count: 2
			path: src/Year2023/Day03/PartTwo.php

		-
			message: "#^Parameter \\#1 \\$direction of method AOC\\\\Year2023\\\\Day10\\\\PartOne\\:\\:getNextPosition\\(\\) expects AOC\\\\Util\\\\CompassDirection, AOC\\\\Util\\\\CompassDirection\\|null given\\.$#"
			count: 1
			path: src/Year2023/Day10/PartOne.php

		-
			message: "#^Parameter \\#1 \\$direction of method AOC\\\\Year2023\\\\Day10\\\\PartTwo\\:\\:getNextPosition\\(\\) expects AOC\\\\Util\\\\CompassDirection, AOC\\\\Util\\\\CompassDirection\\|null given\\.$#"
			count: 1
			path: src/Year2023/Day10/PartTwo.php
