parameters:
    level: 8
    paths:
        - src/Util
        - tests/Util
    tmpDir: ./.phpstan-util.cache/
includes:
    - phpstan-baseline.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
