parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 of closure expects TString of string\|Stringable, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Util/ShortestPath/AStar.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function min expects non\-empty\-array, array\<string, int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Year2022/Day07/PartTwo.php

		-
			message: '#^Comparison operation "\>" between int\<1, max\> and \-1 is always true\.$#'
			identifier: greater.alwaysTrue
			count: 2
			path: src/Year2023/Day03/PartTwo.php

		-
			message: '#^Parameter \#1 \$direction of method AOC\\Year2023\\Day10\\PartOne\:\:getNextPosition\(\) expects AOC\\Util\\CompassDirection, AOC\\Util\\CompassDirection\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Year2023/Day10/PartOne.php

		-
			message: '#^Parameter \#1 \$direction of method AOC\\Year2023\\Day10\\PartTwo\:\:getNextPosition\(\) expects AOC\\Util\\CompassDirection, AOC\\Util\\CompassDirection\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Year2023/Day10/PartTwo.php

		-
			message: '#^PHPDoc tag @var with type callable is not subtype of native type object\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/Util/SolutionTestCase.php

		-
			message: '#^Method AOCTest\\Year2016\\Day22\\PartTwoTest\:\:data\(\) has Safe\\Exceptions\\FilesystemException in PHPDoc @throws tag but it''s not thrown\.$#'
			identifier: throws.unusedType
			count: 1
			path: tests/Year2016/Day22/PartTwoTest.php
